* {
	box-sizing: border-box;
	position: relative;
	--width-padding: 11%;
	--background-color: #000000;
	--title-color: #ffffff;
	--color: #e4e7ed;
}

a {
	text-decoration: none;
	color: var(--color);
}

h1,h2,h3,h4 {
	color: var(--title-color);
}

/* --- */

body {
	font-family: Helvetica, sans-serif;
	color: var(--color);
	background: url('../assets/Kerr-BH.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	height: 100vw;
	overflow: hidden;
}


/* This is a mask to lower down the light of background image. */
body::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.5);
	transition: background-color 0.2s ease-out;
}

body.scroll-end::before {
	background-color: transparent;
}

.container {
	width: 100%;
	height: 100%;
	margin: 0;
}

/* --- */
header {
	position: fixed;
	width: 100%;
	margin: 0;
	padding: 10px var(--width-padding);
	padding-top: 12px;
	z-index: 100;
	border-radius: 0;
	backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

h1 {
	padding: 0;
	margin: 0;
	font-size: 16pt;
	vertical-align: middle;
}

div.links {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
}

div.links a {
	transform: scale(1.0);
	transition: 0.2s;
	display: inline-block;
	margin-left: 10px;
	width: 24px;
	height: 24px;
}

div.links a:hover {
	transform: scale(1.05);
}

div.links a:active {
	transform: scale(0.95);
}

div.links a#github {
	background: url("./icon/github.svg");
}

div.links a#instagram {
	background: url("./icon/instagram.svg");
}

div.links a#facebook {
	background: url("./icon/facebook.svg");
}

div.links a#youtube {
	background: url("./icon/youtube.svg");
}

div.links a#mail {
	background: url("./icon/mail.svg");
}

/* --- */

main {
	padding: 0 var(--width-padding);
	padding-top: 54px !important;
	padding-bottom: 0 !important;
	overflow-x: hidden;
	overflow-y: scroll;
	height: 100vh;
	margin: 0;
	scroll-snap-type: y mandatory;
	scroll-padding-bottom: 45px;
}

main::-webkit-scrollbar {
	width: 5px;
	background-color: transparent;
}
main::-webkit-scrollbar-track {
	background-color: rgba(255, 255, 255, 0.2);
}
main::-webkit-scrollbar-thumb {
	cursor: grab;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.4);
}
main::-webkit-scrollbar-thumb:active {
	cursor: grabbing;
}
main::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

h2 {
	margin: 0;
	padding-top: 30px;
	padding-bottom: 10px;
}

/* --- */

section {
	/* The scroll-margin should adding to 
	the element that use scroll-snap-align, 
	or the anchor will mess up the UI.*/
	scroll-margin-top: 45px;
	scroll-snap-align: start;
	min-height: 100px;
	padding: 0;
}

section#intro {
	padding-top: 70px;
	padding-bottom: 50px;
}

section#full-page {
	height: 100vh;
	scroll-snap-align: end;
}

div.content {
	padding-left: 1.5%;
}

p {
	margin: 0;
}

h3 {
	margin: 0;
}

ul {
	display: flex;
	flex-wrap: wrap;

	gap: 10px;
	overflow-x: auto;
	padding: 10px;
	list-style: none;
	margin: 0;
	scroll-behavior: smooth;
	white-space: nowrap;
}

li {
	padding: 0;
	margin: 0;
	transform: translateY(0);
	transition: 0.2s;
}

li:hover {
	transform: translateY(-2px);
}

li:active {
	transform: translateY(1px);
}

li a.card {
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-start;
	width: 100%;
	min-width: 260px;
	max-width: 400px;

	height: 150px;
	padding: 0;
	margin: 0;
	
	/*backdrop-filter: blur(5px);
					-webkit-backdrop-filter: blur(5px);*/
	border: 1px solid rgba(255, 255, 255, 0.6);
	border-radius: 8px;

	font-size: 20px;
	font-weight: 600;

	overflow: hidden;
	text-wrap: wrap;
	word-break: break-word;
	white-space: normal;

	background-color: rgba(255,255,255,0.2);

			user-drag: none;
	-webkit-user-drag: none;
	
}

li a.card::after {
	content: '';
	position: absolute;
	top: 10px;
	right: 10px;
	background: url('./icon/external-link.svg');
	border-radius: 5px;
	width: 24px;
	height: 24px;

	/**
	 * Color Transformation 
	 * https://www.zhangxinxu.com/sp/filter.html
	**/
	/* #000000 to #fff */
/*	filter: invert(99%) sepia(19%) saturate(0%) hue-rotate(317deg) brightness(116%) contrast(100%);*/
	/* #000000 to #bbb */
/*	filter: invert(85%) sepia(29%) saturate(0%) hue-rotate(172deg) brightness(87%) contrast(81%);*/
	/* #000000 to #ddd */
	filter: invert(85%) sepia(0%) saturate(16%) hue-rotate(251deg) brightness(103%) contrast(99%);
}

li a.card[href^="#"]::after {
	content: none;
}

h4 {
	width: fit-content;
	word-break: break-word;
	white-space: normal;
	margin: 0;
	padding: 10px 16px;
	margin-bottom: 35px;
}

h4.big-title {
	min-width: 285px;
}

span.seperator {
	display: none;
}

p.desc {
	display: block;
	bottom: 0;
	position: absolute;
	text-wrap: wrap;
	font-size: 10pt;
	padding: 10px 16px;
}

a.card img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);

	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
}

a.card img.thumbnail {
/*	display: none;*/
	position: absolute;
	transform: none;
	top: 0;
	left: 0;
	height: auto;
	max-height: 65%;
/*	width: 100%;*/
	overflow: hidden;
	opacity: 0.6;
}

a.card img.thumbnail.top {
	object-position: left top;
	max-height: 55%;
}

a.card img.thumbnail.bottom {
	object-position: left bottom;
	max-height: 55%;
}

/* --- */

footer {
	padding: 30px 0;
	font-size: 13pt;
	font-weight: 100;
	background-color: transparent;
	text-align: center;
	z-index: -1;
	margin-top: 0px;
	transition: margin-top 0.3s ease-out;
}

body.scroll-end footer{
	margin-top: -100px;
}

/* --- */

main, section, div.content, ul, li, a.card, h4 {
/* notransform */
}

.iframe-container {
	display: none;
	background-color: #ccc;
	z-index: 200;
	border-radius: 20px;
	overflow: hidden;
}


.iframe-container.show {
	display: block;
	position: fixed !important;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	height: 87%;
}

.iframe-container iframe {
	width: 100%;
	height: 100%;
}













